<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <title>Saveetha Engineering College register</title>
</head>

<body>
    <div class="jumbotron">
        <img class="card-img-top" src="/static/img/reg.jpg" alt="Card image cap">
        <div class="card" style="background-color:lightgreen">
            <h1 class="display-3 text-center">SAVEETHA ENGINNEERING COLLEGE (AUTONOMOUS)</h1>
        </div>
        </img>
        <div class="card" style="background-color:blueviolet">
            <p class="display-4 text-center">THE GREAT CULTURAL DAY EVENT -20</p>
        </div>
        <form>
            <div class="card bg-dark text-white">
                <img class="card-img" src="/static/img/seccultural1.jpg" alt="Card image">
                <div class="card-img-overlay" class="text-center">
                    <div class="container">
                        <div class="form-group">
                            <label for="username">NAME</label>
                            <input type="text" class="form-control" id="username" placeholder="Enter your name">
                        </div>
                        <div class="form-group">
                            <label for="phone">Contact No</label>
                            <input type="text" class="form-control" id="phone" placeholder="Enter your Phone.no">
                        </div>
                        <div class="form-group">
                            <label for="email">E-mail id</label>
                            <input type="email" class="form-control" id="email" placeholder="name@example.com">
                        </div>
                        <div class="form-group">
                            <label for="Institution">Institution</label>
                            <input type="text" class="form-control" id="Institution" placeholder="Institution name">
                        </div>
                        <div class="col-12 text-center">
                            <a href="/success/" class="btn btn-primary btn-lg" role="button"
                                aria-pressed="true">Submit</a>
                            <a href="/home/" class="btn btn-primary btn-lg" role="button" aria-pressed="true">cancel</a>
                        </div>
                    </div>
                </div>
            </div>    
        </form>

        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
            integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
            crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
            integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
            crossorigin="anonymous"></script>
</body>

</html>